@page "/forgot-password"
@inject HttpClient Http
@layout PublicLayout

<PageTitle>Forgot my password</PageTitle>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-6" hidden="@(string.IsNullOrEmpty(message))">
            <div class="alert alert-info" role="alert">
                <strong>@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")</strong> <br />
                <span>@message</span>
            </div>
        </div>
        <div class="col-md-6 col-lg-5">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Esqueceu a senha?</h2>
                    <form>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="email" placeholder="seuemail@example.com" @bind="email">
                            <label for="email">Endereço de email</label>
                        </div>
                        <button type="submit" class="btn btn-primary w-100" @onclick="SetNewPassword">Redefinir Senha</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    private string email = "";
    private string message = "";
    private AuthorizationResponse response;
    private async Task SetNewPassword()
    {
        var hash = CryptoHelper.Create256(email);
        var key = CryptoHelper.CreateRandomKey();
        var finalHash = CryptoHelper.Encrypt(hash, key) + key;
        var url = ConstantNames.ApiRoutes.ForgotPassword.Replace(ConstantNames.Interpolation.Hash, finalHash);

        var result = await Http.PostAsync(url, null);
        if (result.IsSuccessStatusCode)
        {
            message = "Um email foi enviado para você com as instruções para redefinir sua senha.";
        }
        else
        {
            message = "Houve uma falha no pedido de redefinição de senha. Verifique se o email digitado é o mesmo cadastrado na Foxbit";
        }
    }
}
